/*----- For mobile (xs) -----*/
.container-fluid * {
    font-family: 'Nunito', sans-serif;
}
.container-fluid a:link, .container-fluid a:visited {
    text-decoration: none;
}
.menu {
    background-color: black;
    color: white;
    position:sticky;
    top:0;
    text-transform: uppercase;
    font-size: 4vw;
    height: 8vw;
    line-height: 8vw;
    padding: 0 0 0 5px;
    font-weight: bold;
    z-index: 50;
}
.menu ul {
    margin: 0;
}
.menu li {
    display: inline-block;
}
.menu a {
    color: white;
    padding: 0 0 0 5px;
}
.desktop {
    display: none;
}
.dropdown-menu {
    display: none;
    background-color: black;
    position: absolute;
    z-index: 1;
}
.mobile li:hover .dropdown-menu {
    display: block;
}
.dropdown-menu a {
    display: block;
}
.nav-left {
    float: left;
}
.nav-right {
    float: right;
    text-align: right;
    padding: 0 4vw 0 0;
}
.nav-right a {
    padding: 0 0 0 2vw;
}
.banner-box {
    padding: 0;
    z-index: -1;
}
.banner-img {
    width: 100%;
    height: auto;
    position: relative;
}
.banner-filter {
    display: block;
    position: absolute;
    top:0;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}
.banner-content {
    display: block;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}
.banner-content h1 {
    font-size:  8vw;
    color: white;
    font-weight: bold;
    margin: 0;
}
.banner-content p {
    font-size: 3vw;
    color: white;
    margin: 1vw 0 0 0;
}
.main-content h2 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 4vw;
    font-weight: bold;
    padding: 5px 10px;
}
.main-content h3 {
    font-size: 3.5vw;
    font-weight: bold;
}
.line-divider {
    height: 3px;
    background-color: rgba(0,0,0,0.1);
    margin: 10px auto 10px auto;
    width: 100%;
    max-width: 30px;
}
.main-img {
    width: 100%;
    height: auto;
}
.main-content p{
    margin: 10px 0 10px 0;
}
.main-content a {
    color: black;
}
.plugin-fb {
    margin: 20px 0;
    text-align: center;
}
.plugin-fb p {
    background-color: black;
    color: white;
    width: 350px;
    font-weight: bold;
    margin: 10px auto;
}
.footer-content {
    background-color: black;
    padding: 5vw 5px 30px 5px;
    margin-top: 20px;
}
.footer-content h4 {
    font-size: 3.5vw;
    color: rgb(141,141,141);
    font-weight: bold;
    margin: 20px 0 10px 0;
}
.footer-content p {
    color: rgb(141,141,141);
    padding: 10px 20px 0 20px;
}
.footer-content a:link, .footer-content a:visited{
    color: white;
    text-decoration: none;
}
.footer-content li {
    margin: 10px 0;
}
.about-content h3 {
    background-color: black;
    color: white;
    margin-top: 5vw;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
}
.about-content li {
    margin: 1vw 0 0 0;
}
/*----- For tablet (sm) -----*/
@media only screen and (min-width:768px) {
    .about-content {
        padding: 0 15vw;
    }
    .about-content h3 {
        font-size: 2vw;
    }
}
/*---- For desktop (md) -----*/
@media only screen and (min-width:992px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    .desktop a {
        padding: 0 0 0 3vw;
    }
    .nav-right {
        font-size: 15px;
    }
    .nav-right a {
        padding: 0 0 0 1vw;
    }
    .banner-content h1 {
        font-size:  5vw;
    }
    .banner-content p {
        font-size: 2vw;
    }
    .menu {
        font-size: 15px;
        height: 4vw;
        line-height: 4vw;
    }
    .main-content h2 {
        font-size: 25px;
    }
    .about-content h3 {
        font-size: 15px;
        height: 30px;
        line-height: 30px;
    }
    .main-content p {
        padding: 0 10px;
    }
    .footer-content h4 {
        font-size: 15px;
    }
    .about-content {
        margin-top: 10vw;
        padding: 0 10px;
    }
    .main-content h2+h3 {
        font-size: 25px;
    }
}